################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExcelConverter/bin/Debug
/ExcelConverter/obj/Debug
/packages
/ExcelConverter/bin/Release
/ExcelConverter/obj/Release
